{# Filled via AJAX from static/assets/js/field_surveys/map.js (data-update-modal-body hook). #}
<div data-update-modal-body>
  <div class="cm-skeleton-host" data-cm-loading>
    <div class="cm-skeleton cm-skeleton--label"></div>
    <div class="cm-skeleton cm-skeleton--input"></div>
    <div class="cm-skeleton cm-skeleton--label"></div>
    <div class="cm-skeleton cm-skeleton--input"></div>
    <div class="cm-skeleton cm-skeleton--label"></div>
    <div class="cm-skeleton cm-skeleton--block"></div>
  </div>
</div>
