{% extends "base/base.html" %}
{% load static %}

{% block title %}Mapa levantamiento | {{ block.super }}{% endblock %}

{% block toolbar %}
<div class="d-flex flex-wrap flex-stack mb-6 gap-3">
  <h1 class="page-heading text-dark fw-bold fs-3 my-0">Mapa territorial</h1>
  <div class="d-flex gap-2">
    <a href="{% url 'site:field_surveys_fieldsurvey_listar' %}" class="btn btn-light">Listado</a>
    <a href="{% url 'field_surveys:survey_create' %}" class="btn btn-primary"><i class="ki-outline ki-plus fs-2"></i>Nuevo</a>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="card mb-5">
  <div class="card-body">
    {% include "field_surveys/_filters.html" %}
    <form id="map-extra-filters" class="row g-3 mt-1">
      <div class="col-12 col-md-4">
        <label class="form-label">Competidor</label>
        <select name="competitor" class="form-select">
          <option value="">Todos</option>
          {% for competitor in competitors %}
            <option value="{{ competitor.id }}">{{ competitor }}</option>
          {% endfor %}
        </select>
      </div>
    </form>
  </div>
</div>
<div class="card">
  <div class="card-body p-0">
    <div id="field-survey-map"
         class="field-survey-map field-survey-map--main"
         data-url="{% url 'field_surveys:map_data' %}?{{ request.GET.urlencode }}"></div>
  </div>
</div>
{% endblock %}

{% block extra_css %}
{{ block.super }}
<link href="{% static 'assets/css/field_surveys/field_surveys.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="{% static 'assets/js/field_surveys/map.js' %}"></script>
{% endblock %}
