{% extends "base/base_list.html" %}

{% block list_extra_actions %}
  <a href="{% url 'field_surveys:dashboard' %}" class="btn btn-light-primary btn-sm d-flex align-items-center gap-1">
    <i class="ki-outline ki-chart-simple fs-3"></i>Dashboard
  </a>
  <a href="{% url 'field_surveys:map' %}" class="btn btn-light-primary btn-sm d-flex align-items-center gap-1">
    <i class="ki-outline ki-map fs-3"></i>Mapa
  </a>
  <a href="{% url 'field_surveys:survey_create' %}" class="btn btn-success btn-sm d-flex align-items-center gap-1">
    <i class="ki-outline ki-geolocation fs-3"></i>Formulario rápido
  </a>
  {{ block.super }}
{% endblock %}
