<div class="insoles-instance-forms">
    <div class="modal fade" id="insoles-instance-forms" tabindex="3" role="dialog"
         aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document" id="insoles_width">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title fw-bold" id="modalLabel">{{ modal_title|default:"Crear nuevo" }}</h2>
                    <button type="button" class="btn btn-icon btn-sm btn-active-light-primary ms-2"
                            data-bs-dismiss="modal" aria-label="Close">
                        <i class="ki-outline ki-cross fs-1"></i>
                    </button>
                </div>
                <form id="insoles-instance-form" action="" method="POST" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        {% if button_template %}
                            {% include button_template %}
                        {% endif %}
                        {% if not flag %}
                            <button type="submit" class="btn btn-primary"
                                    onclick="this.form.submitter='finish'">
                                <i class="ki-outline ki-check fs-2"></i>
                                <span id="confirm_button_insoles">{{ custom_name_default|default:"Guardar" }}</span>
                            </button>
                        {% endif %}
                        <button type="button" class="btn btn-light-danger" data-bs-dismiss="modal">
                            <i class="ki-outline ki-cross fs-2"></i>
                            <span>Cancelar</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
