{% load static %}
<script src="{% static 'assets/plugins/global/plugins.bundle.js' %}"></script>
<script src="{% static 'assets/js/scripts.bundle.js' %}"></script>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>
<script src="{% static 'vendors/select2/django-select2.js' %}"></script>
<script src="{% static 'assets/js/forms/select2.js' %}?v=20260508-1"></script>
<script src="{% static 'assets/js/forms/leaflet_map.js' %}"></script>
<script src="{% static 'assets/js/forms/widgets.js' %}"></script>
<script src="{% static 'assets/js/forms/image_input.js' %}"></script>
<script src="{% static 'assets/js/forms/sheet_modal.js' %}?v=20260511-2"></script>
<script src="{% static 'assets/js/forms/geolocation_gate.js' %}?v=20260508-5"></script>
<script src="{% static 'assets/js/forms/field_validation.js' %}?v=20260508-1"></script>
<script src="{% static 'assets/js/forms/delete_modal.js' %}?v=20260508-1"></script>

<script src="https://unpkg.com/lucide@0.456.0/dist/umd/lucide.min.js"></script>
<script>
  (function () {
    function renderIcons() {
      if (window.lucide && typeof window.lucide.createIcons === "function") {
        window.lucide.createIcons();
      }
    }
    if (document.readyState === "loading") {
      document.addEventListener("DOMContentLoaded", renderIcons);
    } else {
      renderIcons();
    }
    // Render again once Bootstrap has finished injecting modal/dropdown content.
    document.addEventListener("shown.bs.modal", renderIcons);
    document.addEventListener("shown.bs.dropdown", renderIcons);
    // Expose for callers that mutate the DOM (DataTables child rows, etc.).
    window.cmRenderIcons = renderIcons;
  })();
</script>

{% block vendor_js %}{% endblock %}

<script src="{% static 'assets/js/widgets.bundle.js' %}"></script>
<script src="{% static 'assets/js/custom/widgets.js' %}"></script>
<script src="{% static 'assets/js/workflows.js' %}"></script>
<script src="{% static 'assets/js/list-search.js' %}"></script>
<script src="{% static 'assets/js/shortcuts.js' %}" defer></script>

{% block extra_js %}{% endblock %}
