{% load static %}
<script src="{% static 'assets/plugins/global/plugins.bundle.js' %}"></script>
<script src="{% static 'assets/js/scripts.bundle.js' %}"></script>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>
<script src="{% static 'vendors/select2/django-select2.js' %}"></script>
<script src="{% static 'assets/js/forms/select2.js' %}"></script>
<script src="{% static 'assets/js/forms/leaflet_map.js' %}"></script>
<script src="{% static 'assets/js/forms/widgets.js' %}"></script>
<script src="{% static 'assets/js/forms/image_input.js' %}"></script>

{% block vendor_js %}{% endblock %}

<script src="{% static 'assets/js/widgets.bundle.js' %}"></script>
<script src="{% static 'assets/js/custom/widgets.js' %}"></script>
<script src="{% static 'assets/js/workflows.js' %}"></script>
<script src="{% static 'assets/js/list-search.js' %}"></script>
<script src="{% static 'assets/js/shortcuts.js' %}" defer></script>

{% block extra_js %}{% endblock %}
