{% load static %}
{# Renderiza recursivamente el árbol de menú producido por el context_processor `superadmin.context_processors.menu`. #}
{% for item in menu %}
  {% if item.submenus %}
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click">
      <span class="menu-link">
        <span class="menu-icon">
          <i class="ki-outline ki-{{ item.icon|default:'category' }} fs-2"></i>
        </span>
        <span class="menu-title">{{ item.name }}</span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion">
        {% for sub in item.submenus %}
          {% if sub.submenus %}
            <div class="menu-item menu-accordion" data-kt-menu-trigger="click">
              <span class="menu-link">
                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                <span class="menu-title">{{ sub.name }}</span>
                <span class="menu-arrow"></span>
              </span>
              <div class="menu-sub menu-sub-accordion">
                {% for sub2 in sub.submenus %}
                  <div class="menu-item">
                    <a class="menu-link {% if request.path == sub2.url %}active{% endif %}" href="{{ sub2.url|default:'#' }}">
                      <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                      <span class="menu-title">{{ sub2.name }}</span>
                    </a>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% else %}
            <div class="menu-item">
              <a class="menu-link {% if request.path == sub.url %}active{% endif %}" href="{{ sub.url|default:'#' }}">
                <span class="menu-bullet"><span class="bullet bullet-dot"></span></span>
                <span class="menu-title">{{ sub.name }}</span>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="menu-item">
      <a class="menu-link {% if request.path == item.url %}active{% endif %}" href="{{ item.url|default:'#' }}">
        <span class="menu-icon">
          <i class="ki-outline ki-{{ item.icon|default:'right' }} fs-2"></i>
        </span>
        <span class="menu-title">{{ item.name }}</span>
      </a>
    </div>
  {% endif %}
{% endfor %}
