{% load static %}
{# Renderiza recursivamente el árbol de menú producido por el context_processor `superadmin.context_processors.menu`. #}
{% for item in menu %}
  {% if item.submenus %}
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon">
          <i class="material-icons-outlined">{{ item.icon|default:"folder" }}</i>
        </div>
        <div class="menu-title">{{ item.name }}</div>
      </a>
      <ul>
        {% for sub in item.submenus %}
          {% if sub.submenus %}
            <li>
              <a href="javascript:;" class="has-arrow">
                <i class="material-icons-outlined">arrow_right</i>{{ sub.name }}
              </a>
              <ul>
                {% for sub2 in sub.submenus %}
                  <li>
                    <a href="{{ sub2.url|default:'#' }}">
                      <i class="material-icons-outlined">arrow_right</i>{{ sub2.name }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li>
              <a href="{{ sub.url|default:'#' }}">
                <i class="material-icons-outlined">arrow_right</i>{{ sub.name }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  {% else %}
    <li>
      <a href="{{ item.url|default:'#' }}">
        <div class="parent-icon">
          <i class="material-icons-outlined">{{ item.icon|default:"chevron_right" }}</i>
        </div>
        <div class="menu-title">{{ item.name }}</div>
      </a>
    </li>
  {% endif %}
{% endfor %}
