{% load superadmin_forms %}
<tr id="{{ formset.prefix }}-{{ row_index }}" class="inline {{ formset.prefix }}">
  {% for field in row_form.hidden_fields %}
    {{ field }}
  {% endfor %}
  {% for field in row_form.visible_fields %}
    <td>
      {% if field.field.widget.input_type == "checkbox" %}
        {{ field }}
      {% else %}
        {% render_field field class="form-control form-control-sm" %}
      {% endif %}
      {% if field.errors %}
        <div class="text-danger small mt-1">{{ field.errors|join:" · " }}</div>
      {% endif %}
    </td>
  {% endfor %}
</tr>
