{% load superadmin_forms %}

<div class="table-responsive inline-group" data-label="{{ label }}" data-errors="{{ formset.errors }}" id="{{ formset.prefix }}-group" data-prefix="{{ formset.prefix }}">
  {{ formset.management_form }}
  {% if formset.non_form_errors %}
    <div class="alert alert-danger py-2 px-4 mb-3">
      {% for error in formset.non_form_errors %}<div>{{ error }}</div>{% endfor %}
    </div>
  {% endif %}
  <table class="table table-row-dashed align-middle mb-0">
    <thead>
      <tr class="text-gray-600 fw-bold fs-7 text-uppercase">
        {% for header in formset.headers %}
          <th scope="col">{{ header }}</th>
        {% endfor %}
        {% if formset.can_delete %}
          <th scope="col">Eliminar</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for form in formset %}
        {% include "forms/formset_row.html" with formset=formset row_form=form row_index=forloop.counter0 %}
      {% endfor %}
    </tbody>
  </table>
  {% if allow_add %}
    <template data-formset-empty-form>
      {% include "forms/formset_row.html" with formset=formset row_form=formset.empty_form row_index="__prefix__" %}
    </template>
  {% endif %}
</div>
