{% load superadmin_forms %}

{% if field.field.widget.input_type == "checkbox" %}
  <div class="fv-row mb-7">
    <div class="form-check form-switch form-check-custom form-check-solid">
      {% if field.errors %}
        {{ field|add_class:"form-check-input is-invalid" }}
      {% else %}
        {{ field|add_class:"form-check-input" }}
      {% endif %}
      <label class="form-check-label fw-semibold" for="{{ field.id_for_label }}">
        {{ field.label }}
      </label>
    </div>
    {% if field.help_text %}
      <div id="{{ field.id_for_label }}-help" class="form-text text-muted small">{{ field.help_text }}</div>
    {% endif %}
    {% if field.errors %}
      <div id="{{ field.id_for_label }}-errors" class="invalid-feedback d-block" role="alert">
        {{ field.errors|join:" · " }}
      </div>
    {% endif %}
  </div>
{% else %}
  <div class="fv-row mb-7">
    <label for="{{ field.id_for_label }}" class="form-label fw-semibold{% if field.field.required %} required{% endif %}">
      {{ field.label }}
    </label>

    {% if field.field.widget.input_type == "select" %}
      {% if field.errors %}
        {{ field|add_class:"form-select is-invalid" }}
      {% else %}
        {{ field|add_class:"form-select" }}
      {% endif %}
    {% else %}
      {% if field.errors %}
        {{ field|add_class:"form-control is-invalid" }}
      {% else %}
        {{ field|add_class:"form-control" }}
      {% endif %}
    {% endif %}

    {% if field.help_text %}
      <div id="{{ field.id_for_label }}-help" class="form-text text-muted small">{{ field.help_text|safe }}</div>
    {% endif %}
    {% if field.errors %}
      <div id="{{ field.id_for_label }}-errors" class="invalid-feedback d-block" role="alert">
        {{ field.errors|join:" · " }}
      </div>
    {% endif %}
  </div>
{% endif %}
