{% extends "base/base.html" %}
{% load static %}
{% block content %}
<div class="d-flex flex-column flex-center text-center py-10">
  <img src="{% static 'assets/media/auth/500-error.png' %}" class="theme-light-show mb-10 mw-100 h-200px" alt="500">
  <img src="{% static 'assets/media/auth/500-error-dark.png' %}" class="theme-dark-show mb-10 mw-100 h-200px" alt="500">
  <h1 class="fw-bolder fs-2hx text-gray-900 mb-4">Error interno del servidor</h1>
  <p class="fs-5 fw-semibold text-gray-500 mb-7">Algo salió mal. Por favor, intenta más tarde.</p>
  <a href="{% url 'home' %}" class="btn btn-primary">
    <i class="ki-outline ki-home fs-2"></i>Volver al inicio
  </a>
</div>
{% endblock %}
